*.DS_Store
*.swp
*.pyc
version.py
build/
data/
docs/src/
docs/html/
encoding/_ext/
encoding.egg-info/
*.o
*.so
build.*
.idea/
.vscode/
*.ninja_deps
*.ninja_log
*.ninja
runs/
/conda_env_snapshot.txt
/conda_env_snapshot.txt.save.1
/conda_env_snapshot.txt.save
conda_env_snapshot.txt.save
conda_env_snapshot.txt.save.1
experiments/segmentation/~/
/cabi.yaml
